@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<body>
    <h1>ContactBook App Privacy Policy (Version 1.1)</h1>

    <p>This privacy policy describes how ContactBook app (version 1.1) handles your data.</p>

    <h2>Information We Collect</h2>

    <p>ContactBook does not collect any personal information from you directly.</p>

    <h2>Important Notice</h2>

    <p>Since ContactBook uses an open database, any information you store within the app, including contacts and their details, is accessible to anyone who can access the database. We strongly advise against storing sensitive information within the app.</p>

    <h2>Feedback</h2>

    <p>If you have any questions or feedback about this privacy policy, you can email us at <a href="mailto:ratneshx175@gmail.com">ratneshx175@gmail.com</a>.</p>
</body>
